{
    // "extends": ["airbnb/base", "plugin:prettier/recommended"],
    "extends": ["airbnb/base"],
    // "plugins": ["prettier"],
    // "parser": ["babel-eslint"],
    "rules": {
      "no-console": "off"
    },
    "env": {
      "browser": true
    }
  }